.sidenav {
    background: #383A3F;
    height: 100%;
}

.sidenav a:first-child {
    padding-top: 25px;
}

.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-bottom: 1px white solid;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 10px;
}

.sidenav a:hover {
    color: #D8E6E7;
    font-size: 1.675rem;
    cursor: pointer;
}

.maincontent {
    background: #e1eef6;

}

#users {
    display: none;
}

.hero-title {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.hero-title::after {
    display: block;
    height: 3px;
    width: 180px;
    content: "  ";
    background-color: #FFBC42;
}

.mcard {
    border-top: red 2px solid !important;
    text-align: center;
}

.mcard p:first-of-type {
    text-transform: uppercase !important;
    color: #FFBC42 !important;
    font-size: 15px !important;
}

.mcard p {
    font-size: 30px;
}

.ui .segment h2 {
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: red;

}

.mactivity {
    padding-left: 10px;
    margin-top: 5px;
}

.mactivity>p {
    font-size: 18px;

}

#recentActivites {
    margin-top: 50px;
}